html {
    background-color: lightblue;
}

.parent{
    height: 250px;
    width: 250px;
    background-color: white;
}

.child{
    position: relative;
    float: left;
    background-color: #F29E09;
    height: 25px;
    width: 25px;
    border: 1px solid cadetblue;
}

.child .child:first-child{
    margin-left: 25px;
    margin-top: 25px;
}


