* {

}

html {
    background-color: steelblue;
}

body{

}

.row{
    display: block;
    width: 75vw;
}

.container{
    display: inline-block;
    float: left;
    margin: 10px;
    border: black;
    background-color: linen;
    width: 250px;
    height: 250px;
}

.fleft{
    display: inline-block;
    height: 50px;
    background-color: lightgreen;
    /*border: 1px solid green;*/
}

.fright {
    display: inline-block;
    height: 50px;
    background-color: lightblue;
    /*border: 1px solid blue;*/
}

/*Ids for the space used by each box -*/
/**/
/*Had to substract 1% to 3% to each so the boxes were on the same line*/
/*It has to be more depending on the number of elements*/

#half {
    width: 49%;
}

#third {
    width: 31%;
}

#quarter {
    width: 22%;
}