h1 + p {
    color: blue;
}

h1 + p + p {
    color: red;
}

h2 + p + p, h2 + p + p + p {
    color: green;
}

h2 + p{
    color: yellow;
}

h2 + h3 + p {
    color: darkblue;
}

h3 + p + h2 + h3 + p {
    color: pink;
}

h3 + p + h2 + h3 + p + h3 + p {
    color: pink;
}