html {
    background: #B232FB;
}

body{
    height: 95vh;
    width: 100vw;
}

body *:nth-child(n){
    font-size: 2em;
    text-align: center;
    border: 5px solid #B232FB;
    border-radius: 25px;
}

header {
    display: inline-block;
    width: 95%;
    height: 15%;
    background: #1DE58B;
}

nav {
    display: inline-block;
    float: left;
    width: 21.5%;
    height: 65%;
    background: #0566F1;
}

main {
    display: inline-block;
    float: left;
    width: 70.5%;
    height: 65%;
    background: #F29E09;
}

footer {
    display: inline-block;
    width: 95%;
    height: 15%;
    background: #1DE58B;
}