html {
    background-color: #B232FB;
}

body{
    height: 95vh;
    width: 100vw;
}

body *{
    font-size: 2em;
    text-align: center;
    border: 5px solid #B232FB;
    border-radius: 25px;
}

header {
    display: inline-block;
    width: 95%;
    height: 15%;
    background-color: #1DE58B;
}

nav {
    display: inline-block;
    width: 21.5%;
    height: 65%;
    background-color: #0566F1;
}

section {
    display: inline-block;
    width: 70.5%;
    height: 65%;
    background-color: #F29E09;
}

footer {
    display: inline-block;
    width: 95%;
    height: 15%;
    background-color: #1DE58B;
}