/*GENERAL*/
html {
    background-color: white;
    font-family: 'Open Sans', monospace;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body *{
    margin: 1px;
    padding: 1px;
}

/*NAVIGATION MENU*/

nav{
    position: absolute;
    width: 100%;
    white-space: nowrap;
    height: 68px;
    line-height: 60px;
    background-color: #151515;
    z-index: 1;
}

nav *{
    margin: 5px;
    white-space: nowrap;
    display: inline;
    text-align: left;
    vertical-align: middle;
}

nav span{
    margin: 10%;
    font-size: 32px;
    color: white;
}

nav ul{
    margin-right: 10%;
    vertical-align: middle;
}

nav li{
    color: green;
}

nav a{
    color: white;
}

#brand em{
    margin-right: 0;
    font-weight: bold;
    font-style: normal;
}

#brand span{
    margin: 5px;
}

#brand span span{
    vertical-align: bottom;
}

/*BANNER*/
.banner {
    background-image: url("./img/photo.png");
    background-position: center;
    background-size: cover;
    height: 500px;
}

.banner img{
    position: absolute;
    left: 55vw;
}

.banner div{
    position: relative;
    top: 150px;
    left: 220px;
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.banner div *{
    width: 95%;
    color: white;
}

.banner div h1{
    font-size: 4.5em;
}

.banner div p{
    font-size: 1.5em;
}
