/*GENERAL*/
html {
    background-color: white;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body *{
    margin: 1px;
    padding: 1px;
    font-family: 'Open Sans', monospace;
}



/*NAVIGATION MENU*/

nav{
    position: absolute;
    width: 100%;
    white-space: nowrap;
    height: 68px;
    line-height: 60px;
    background-color: #151515;
    z-index: 1;
}

nav *{
    margin: 5px;
    white-space: nowrap;
    display: inline;
    text-align: left;
    vertical-align: middle;
}

nav span{
    margin: 10%;
    font-size: 32px;
    color: white;
}

nav ul{
    margin-right: 10%;
    vertical-align: middle;
}

nav li{
    color: green;
}

nav a{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', monospace;
    font-weight: bold;
    margin-right: 10px;
}

#brand em{
    margin-right: 0;
    font-weight: bold;
    font-style: normal;
}

#brand span{
    margin: 5px;
}

#brand span span{
    vertical-align: bottom;
}

/*BANNER*/
.banner {
    background-image: url("./img/photo.png");
    background-position: center;
    background-size: cover;
    height: 500px;
}

.banner img{
    position: absolute;
    left: 55vw;
}

.banner div{
    position: relative;
    top: 150px;
    left: 220px;
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.banner div *{
    width: 95%;
    color: white;
}

.banner div h1{
    font-size: 4.5em;
}

.banner div p{
    font-size: 1.5em;
}

#ourWork{
    position: relative;
    border-radius: 5px;
    background: -webkit-linear-gradient(90deg, #3b9d0a 0%, #53b305 100%);
    background: -moz-linear-gradient(90deg, #3b9d0a 0%, #53b305 100%);
    background: -o-linear-gradient(90deg, #3b9d0a 0%, #53b305 100%);
    background: -ms-linear-gradient(90deg, #3b9d0a 0%, #53b305 100%);
    background: linear-gradient(0deg, #3b9d0a 0%, #53b305 100%);
    border: 0;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.30);
    width: 293px;
    height: 63px;
    font-family: 'Open Sans', monospace;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    top: 170px;
    left: 220px;
}

/*MAIN*/

.main{
    height: 500px;
}

.disciplines{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
}

.icons{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.icons span{
    width: 266px;
    height: 191px;
    margin-right: 5%;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    box-sizing: border-box;
    background-color: #e8e8e8;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);

}

.icons span img {
    margin-left: 100px;
    margin-top: 35px;
}

.titles{
    position: absolute;
    background-color: white;
    top: 650px;
    display: flex;
    height: 200px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.texts{
    position: absolute;
    background-color: white;
    top: 700px;
    display: flex;
    height: 200px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.titles h1{
    width: 266px;
    height: 191px;
    text-align: center;
    margin-right: 5%;
    font-size: 2em;
    font-style: normal;
    font-weight: normal;
    color: grey;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.15);
}

.texts p{
    width: 266px;
    height: 200px;
    text-align: center;
    margin-right: 5%;
    font-size: 0.75em;
    color: grey;
}